@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Rubik:wght@300&display=swap');

.main{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
.result{
    display: flex;
    justify-content: space-around;
    margin-top:4rem;
    flex-shrink: 2;
    width: 80vw;
    background-color: #292929;
    border-radius: 1%;
}
#showposter{
    width: 18rem;
    height: 27rem;
    margin: 2rem 2rem 2rem 10rem;
    border: 4px solid #fff;
}

.info{
    margin: 2rem;
}

.info h1{
    color: #d4aa11;
    text-align: center;
    margin-bottom:0.7rem;
 
    
}
.bolt-tag{
    margin:0.3rem;
    font-size: 1rem;
}
.info li{
    text-align: left;
    font-size: 16px;
    padding-top: .5rem;
    list-style: none;
    color: white;
}


@media only screen and (max-width:800px) {
    .result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #showposter{
        margin: 2rem auto auto;
        padding: auto;
        width: auto;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width:400px){
    .result{
        width: 90vh;
        padding: 5px;
    }
    header{
        display: flex;
        justify-content: center;
        height: 13vh;
    }
}